nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100px;
    width: 100%;
    background-color: rgb(185, 0, 0);
}
.logo{
    display: flex;
    align-items: center;
}
.logo p{
    font-size: larger;
}
.category ul{
    display: flex;
    list-style: none;
}
.category ul li {
    margin-inline: 30px;
    font-size: larger;
}
.category ul li:hover{
    color: rgb(255, 230, 0);
    transition: ease-in 0.5s;
    cursor: pointer;
}
.category input{
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.category input:focus{
    outline: 2px solid red;
    color: red;
}